body {
    margin: 0;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 8vh 100vh;
    grid-template-areas: 
    "name nav nav nav nav nav"
    "coverimg coverimg coverimg coverimg coverimg coverimg"
    ". my my my my ."
    ". postimg postinfo postinfo postinfo ."
    ;
}

.name {
    grid-area: name;
    background-color: black;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
}

.name h3 {
    color: white;
    margin: 2vw;
}

.navbar {
    grid-area: nav;
    background-color: black;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.cover {
    background-image: url(../images/theater-image-background.png);
    height: 100vh;
    grid-area: coverimg;
    position: static;
}

.covertxt {
    grid-area: coverimg;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.monthyear {
    grid-area: my;
    display: flex;
}

.post {
    display: flex;
}

.postimg {
    grid-area: postimg;
    display: flex;
}

.postinfo {
    grid-area: postinfo;
    display: flex;
}